html
  head
    link(rel='stylesheet' href='/assets/style.css' type='text/css')
    title My Node App
  body
    h1 Welcome
    //- This is a javascript expression that will be evaluated when rendered with res.render('person', {id: res.params.id})
    p= 'Person: ' + id 
